@import url(reset.css);

body {
  font-family: helvetica, arial, sans-serif;
  background: #7c7c7c url(../images/head_bg.jpg) repeat-x top left;
  color: #333333;
}

#header {
  height: 84px;
}

#wrapper {
  width: 1060px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

#header h1 {
  font-size: 48px;
  color: #c9ce37;
  margin: 20px 0 0 200px;
  font-weight: normal;
  font-family: "SchulbuchNord", "DIN", helvetica;
}

#header h1 a {
  text-decoration: none;
  color: inherit;
}

#header h1 span {
  font-weight: bold;
}

#header h1 span.sub {
  font-size: 14px;
  margin-left: 15px;
  font-weight: normal;
}

#body .signin, #body .createproj {
  margin-left: 200px;
  width: 660px;
}

#body .createproj {
  margin: 30px 0 30px 200px;
  float: left;
}

#body .createproj#closed {
  display: none;
}

#body .createproj#open {
  display: block;
}

#body .proj_list {
  float: left;
  margin: 10px 0 0 0;
}

#body .signin h2, #body h2.proj_message {
  font-size: 30px;
  font-family: "HelveticaNeue", "Helvetica Neue (T1)", "Helvetica Neue (TT)", "Helvetica Neue";
  font-weight: 200;
  line-height: 36px;
}

#body h2.proj_message {
  margin-left: 200px;
  width: 660px;
  float: left;
}

#body .signin p {
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0 30px 0;
}

#body input {
  height: 28px;
  padding: 0;
  display: block;
  float: left;
  width: 535px;
  border: 1px solid #333333;
  padding-left: 5px;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1px;
}

#body input#name:focus, #body input#project_name:focus {
  border: 1px solid #c9ce37;
}

#body input#project_name {
  width: 335px;
}

label {
  float: left;
  font-family: "DIN", Helvetica, sons-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 7px;
  margin-right: 10px;
}

#body input#submit {
  width: 95px;
  border: 1px solid #7c7c7c;
  color: #7c7c7c;
  background: #333333;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  font-family: DIN;
  padding: 4px 0 0 0;
  margin-left: 10px;
  float: right;
  height: 32px;
  margin-top: 0;
}

#body input#submit:hover {
  color: #c9ce37;
}

#body input#submit.project {
  width: 165px;
}

#body a#create_project {
  width: 173px;
  height: 26px;
  font-size: 18px;
  display: block;
  background: url(../images/show_form.png) no-repeat top left;
  float: right;
  text-decoration: none;
  color: #7c7c7c;
  font-family: "HelveticaNeue", "Helvetica Neue (T1)", "Helvetica Neue (TT)", "Helvetica Neue";
  font-weight: bold;
  padding: 6px 0 0 10px;
}

#body a#create_project:hover {
  color: #c9ce37;
}

#footer {
  float: left;
  width: 1060px;
  margin-top: 25px;
  padding: 10px 0 20px 0;
  border-top: 4px solid #333333;
}
